@use "sass:color";
@import "mixins";

$AllBG: #232C3D;
$ContainerBG: #2F3A4F;
$InputContainerBG: #262F40;
$DarkBlue: #3F51B5;
$DarkRed: #CD5F4E;
$CyanFont: #42E4C5;
$SubmitGreen: #28a745;
$SubmitGreenHover: #28b745;
$CloseGrey: #6c757d;
$CloseGreyHover: #5a6268;
$FontColor: white;
$FontcolorDivisions: rgb(255, 255, 255);
$FontSizeButtons: 18px;


textarea {
  resize: none;
}

label {
  color: white;
}

.submitButton {
  background-color: $SubmitGreen;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.submitButton:hover {
  background-color: $SubmitGreenHover;
}

.closeButton {
  background-color: $CloseGrey;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.closeButton:hover {
  background-color: $CloseGreyHover;
}

.visibleDisplay {
  display: none;
}

.visibleDisplay:disabled {
  display: flex;
}

.visibleSearchDisplay {
  display: none;
}

.visibleSearchDisplay:disabled {
  display: flex;
}

.hidden {
  visibility: hidden;
}

.notFilled {
  border-bottom-color: red;
}

#subtasks {
  margin-bottom: 20px;
  max-height: 12vw;
  overflow-y: auto;
  border: 1px solid white;

  @include mobile {
    max-height: 30vw;
    font-size: 80%;
  }

  #subtaskTable {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    padding: 5px;

    .editImg:hover {
      cursor: pointer;
      transform: scale(1.2);
    }

    .subTaskStatusBox {
      background-color: #1b1b1b;
      display: inline-block;
      padding: 6px 12px;
      border: 2px solid;
      border-radius: 5px;
      font-weight: bold;
      font-size: 14px;
      text-align: center;

      @include mobile {
        font-size: 12px;
        width: 1%;
      }

      &:hover {
        cursor: pointer;
      }

    }

    .subTaskToDO {
      color: white;
      border-color: white;
    }

    .subTaskInProgress {
      color: aquamarine;
      border-color: aquamarine;
    }

    .subTaskDone {
      color: green;
      border-color: green;
    }

    tr:hover {
      background: #2b2b2b;

    }

  }

  .subTableEdit {
    width: 5%;
    display: inline-table;

    @include mobile {
      display: none;
    }
  }
}

.addTaskForm, .editTaskForm, .taskForm404 {
  overflow-y: auto;
  align-self: center;
  justify-content: space-between;
  flex-direction: column;
  background: #1b1b1b;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 2.5rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
  border-radius: 1rem;
  width: 100%;
  text-align: center;
  border: 3px solid #ffb100;

  div {
    h3 {
      background: linear-gradient(to right, #ffb100, #ff3c00);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: xxx-large;

      @include mobile {
        font-size: xx-large;
      }
    }

    display: flex;
    flex-direction: column;
  }

  .editInputLine {
    flex-wrap: wrap;
  }

  .taskFormBody {
    font-size: large;

    @include mobile {
      font-size: large;
    }

    .addInput, .AddSubInput {
      font-size: large;
      z-index: 2;
      width: 90%;
      align-self: center;
      margin: 10px;
      background: #1b1b1b;
      color: $FontColor;
    }
  }

  .confirmations {
    button {
      font-size: 70%;
      width: 60%;
      margin: 10px;
      align-self: center;
    }
  }
}

.editTaskForm, .taskForm404 {
  width: fit-content;
  height: 60%;

  @include mobile {
    height: 85%;
    width: 100%;
  }

  @include desktop-HD {
    height: 85%;
    width: 70%;
  }

  .editTaskFormHeader {
    flex-direction: row;
    display: flex;
    justify-content: space-between;

    .topRightEdit {
      display: flex;
      flex-direction: row;

      img:hover {
        cursor: pointer;
        transform: scale(1.2);
      }

      button {
        background: #1b1b1b;
        border: none;
        color: $FontColor;
        border-bottom: #1c1c1c solid 1px;
        cursor: pointer;
        margin-right: 5px;
      }

      button:hover {
        transform: scale(1.1);
        color: #ffb100;
      }
    }
  }

  .taskFormBody {
    align-items: start;

    @include mobile {
      align-items: center;
    }

    #editDescription, #editSubDescription {
      width: 100%;
      background-color: #1b1b1b;
      color: white;

      @include mobile {
        width: 90%;
      }
    }

    div {
      flex-direction: row;

      @include mobile {
        flex-direction: column;
      }

      input, select {
        margin-top: unset;
      }

      select {
        min-width: fit-content;
      }

      .editLabel {
        margin-left: 40px;
        min-width: fit-content;
        padding-top: 20px;

        @include desktop-HD {
          padding-top: 10px;
        }
      }

      #editInterval {
        width: 50px;
      }
    }
  }
}

.desktopOnly {

  @include mobile {
    font-size: 2rem;
  }
}

.addTaskForm {
  text-align: center;
  max-width: 360px;

  @include desktop-HD {
    height: 91%;
  }

  .addSubtaskHeader {
    flex-direction: row;
  }

  .addInput, .AddSubInput {

    @include mobile {
      font-size: large;
    }
  }
}

#addSubTaskForm {
  background: $ContainerBG;


  .TaskFormBody {
    .addInput, .AddSubInput {
      background: $ContainerBG;

      @include mobile {
        font-size: large;
      }
    }
  }
}

#editSubTaskForm {
  height: 50%;

  .confirmations {
    display: contents;
  }
}
