$AllBG: #232C3D;
$ContainerBG: #2F3A4F;
$InputContainerBG: #262F40;
$DarkBlue: #3F51B5;
$DarkRed: #CD5F4E;
$CyanFont: #42E4C5;
$SubmitGreen: #28a745;
$SubmitGreenHover: #28b745;
$CloseGrey: #6c757d;
$CloseGreyHover: #5a6268;
$FontColor: white;
$FontcolorDivisions: rgb(255, 255, 255);
$FontSizeButtons: 18px;
@use "sass:color";

textarea {
  resize: none;
}

label {
  color: white;
}

.submitButton {
  background-color: $SubmitGreen;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.submitButton:hover {
  background-color: $SubmitGreenHover;
}

.closeButton {
  background-color: $CloseGrey;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.closeButton:hover {
  background-color: $CloseGreyHover;
}

.visibleDisplay {
  display: none;
}

.visibleDisplay:disabled {
  display: flex;
}

.hidden {
  visibility: hidden;
}

.notFilled {
  border-bottom-color: red;
}

#subtasks {
  margin-bottom: 20px;
  max-height: 12vw;
  overflow-y: auto;
  border: 1px solid white;

  #subtaskTable {
    table-layout: fixed;
    width: 100%;

    padding: 5px;

    .subTaskStatusBox {
      display: inline-block;
      padding: 6px 12px;
      border: 2px solid;
      border-radius: 5px;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
    }
  }
}


.addTaskForm, .editTaskForm {
  overflow-y: auto;
  align-self: center;
  justify-content: space-between;
  flex-direction: column;
  background: #1b1b1b;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 2.5rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
  border-radius: 1rem;
  width: 100%;
  max-width: 360px;
  text-align: center;
  border: 3px solid #ffb100;

  div {
    h3 {
      background: linear-gradient(to right, #ffb100, #ff3c00);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    display: flex;
    flex-direction: column;
  }

  .editInputLine {
    flex-wrap: wrap;
  }

  .taskFormBody {
    .addInput {
      width: 60%;
      align-self: center;
      margin: 10px;
      background: #1b1b1b;
      color: $FontColor;
    }
  }

  .confirmations {
    button {
      font-size: 70%;
      width: 60%;
      margin: 10px;
      align-self: center;
    }
  }
}

.editTaskForm {
  .editTaskFormHeader {
    flex-direction: row;
    display: flex;
    justify-content: space-between;

    .topRightEdit {
      display: flex;
      flex-direction: row;

      img:hover {
        cursor: pointer;
      }

      button {
        background: $InputContainerBG;
        border: none;
        color: $FontColor;
        border-bottom: #232C3D solid 1px;
        cursor: pointer;
      }

      button:hover {
        background: $ContainerBG
      }
    }
  }

  .taskFormBody {
    align-items: start;

    #editDescription, #editSubDescription {
      width: 100%;
    }

    div {
      flex-direction: row;

      input, select {
        margin-top: unset;
      }

      select {
        min-width: fit-content;
      }

      .editLabel {
        margin-left: 40px;
        min-width: fit-content;
      }

      #editInterval {
        width: 50px;
      }
    }
  }
}

.addTaskForm {
  text-align: center;
  min-width: 400px;

  .addSubtaskHeader {
    display: flex;
    flex-direction: row;
  }
}

#addSubTaskForm {
  background: $ContainerBG;

  .TaskFormBody {
    .addInput {
      background: $ContainerBG;
    }
  }
}

#editSubTaskForm {
  .confirmations {
    display: contents;
  }
}


@media screen and (min-width: 1170px) {

  .editTaskForm {
    width: fit-content;
    height: 80%;
  }
  #editSubTaskForm {
    height: 50%;
  }
  .editTaskForm, #addTaskForm {
    h3 {
      font-size: xxx-large;
    }

    .taskFormBody {
      font-size: large;

      .addInput {
        font-size: large;
      }
    }
  }
}

@media screen and (max-width: 1169px) {

  #addTaskForm {
    .addInput {
      font-size: large;
    }

  }
  .editTaskForm, #addTaskForm {
    h3 {
      font-size: xx-large;
    }

    .taskFormBody {
      font-size: large;

    }
  }
}